@import url(./check-animation.css);
:root{

    --margin-nav: 1rem;
    --cor-principal: #4F29F0
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    overflow: hidden !important;
    margin: 0 !important;
    min-height: 100vh;
    max-height: fit-content;
    padding:0 !important;
    min-width: 100% !important;
}

.form-control{
    width: 80% !important; 
}

.titulo-item{
    
    word-break: break-all;
    max-width: 100%;
}

.list{
    margin: 2rem auto 2rem auto;
    width: 80%;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.2);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

.botao-apagar{
    justify-self: end;
    width: 50px;
}
