:root{

    --margin-nav: 1rem;
    --cor-principal: #4F29F0
}

.container{
    background-color: #fff;
    margin: 0 !important;
    min-height: 100vh;
    max-height: fit-content;
    padding:0 !important;
    margin-bottom: 100px;
    width: 100vw !important;
}

.form-control, .list-group-item{
    max-width: 100% !important; 
}

.list-group-item{
    overflow: hidden;
}

.titulo-item{
    
    word-break: break-all;
    max-width: 100%;
}

.list{
    margin: 2rem auto 0 auto;
    width: 80%;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.2);
    border-radius: 10px;
    margin-top: 2rem;
    padding: 10px 20px 10px 20px;
}

.botao-apagar{
    justify-self: end;
    width: 50px;

}

/* Header */


.header{
    align-items: center;
    border-bottom: solid 1px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
}

.titulo{
    color: var(--cor-principal);
    font-size: 9vh;
    margin: 0 0 0 1rem !important;
    font-family: 'Oswald';   
}

.subtitulo{
    display: inline;
    width: fit-content;
    font-size: 5vh;
    margin: 0 0 0 1rem !important;
    font-family: 'Oswald';
}



.task-img{
    margin-right: 120px;
}

/* Menu */

.navbar{
    background-color: var(--cor-principal) !important;
}

.logo-navbar, .nav-link{
    color: white !important;
}

.logo-navbar{
    font-family: 'Oswald';
    font-size: 25px !important;
    margin-left: var(--margin-nav);
}

.nav-link{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu';
}

.nav-link::after{
    background-color: white;
    bottom: 10%;
    content: '';
    height: 5%;
    left: 50%;
    position: absolute;
    transition: all .5s;
    width: 0%;
}

.nav-item:hover .nav-link::after{
    left: 0;
    width: 100%;
}

.arrow-icon{
    font-size: 20px;
}

#myNav{
    margin-right: var(--margin-nav);
    flex-grow: unset !important;
}