:root{

    --margin-nav: 1rem;
    --cor-principal: #4F29F0
}

.container{
    background-color: #fff;
    overflow-x: hidden !important;
    margin: 0 !important;
    min-height: 100vh;
    max-height: fit-content;
    padding:0 !important;
    width: 100vw !important;
    max-width: 100vw !important;
    min-width: 100vw !important;
}

.form-control{
    margin: auto;
    width: 80% !important; 
}

.titulo-item{
    
    word-break: break-all;
    max-width: 100%;
}

.list{
    margin: 2rem auto 2rem auto;
    width: 80%;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.2);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

.botao-apagar{
    justify-self: end;
    width: 50px;

}

/* Header */


.header{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 40px 0;
    text-align: center;
    width: 100%;
}

.titulo{
    color: var(--cor-principal);
    font-size: 9vh;
    margin: 0;
    font-family: 'Oswald';   
}

.subtitulo{
    display: inline;
    width: fit-content;
    font-size: 5vh;
    margin: 0;
    font-family: 'Oswald';
}



.task-img{
    margin-right: 120px;
}

/* Menu */

.navbar{
    background-color: var(--cor-principal) !important;
}

.logo-navbar, .nav-link{
    color: white !important;
}

.logo-navbar{
    font-family: 'Oswald';
    font-size: 25px !important;
    margin-left: var(--margin-nav);
}

.nav-link{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu';
}

.nav-link::after{
    background-color: white;
    bottom: 10%;
    content: '';
    height: 5%;
    left: 50%;
    position: absolute;
    transition: all .5s;
    width: 0%;
}

.nav-item:hover .nav-link::after{
    left: 0;
    width: 100%;
}

.arrow-icon{
    font-size: 20px;
}

#myNav{
    margin-right: var(--margin-nav);
    flex-grow: unset !important;
}

/* Description */

.container-description{
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    justify-content: space-around;
    display: flex;
    height: 600px;
    width: 100%;
}

.card-desc{
    align-items: center;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.09);
    display: flex;
    flex-direction: column;
    transition: all .5s;
    height: 500px;  
    width: 400px;
}

.card-desc:hover{
    transform: scale3d(1.05, 1.05, 1.05);
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.2);
}

.text-desc{
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    text-align: center;
}

.text-color{
    color: var(--cor-principal);
}
