:root{
  --height-desc: 260px;
}

.list > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: min-content ;
}
#list-item {
  --background: #ffffff;
  --text: #414856;
  --check: #4F29F0;
  --disabled: #C3C8DE;
  --width: 100%;
  --height: 100%;
  --border-radius: 10px;

  height: var(--height);
  width: 750px;
  padding: 10px 20px 10px 20px;
  background: var(--background);
  border: solid 1px #666;
  border-radius: var(--border-radius);
  position: relative;
  display: grid;
  grid-template-columns: 30px auto auto;
  align-items: center;
  z-index: 10;
}
  .showDesc{
    box-shadow: 0 .1rem .5rem .2rem rgba(0, 0, 0, .15);
    transform: translateY(0) !important;
    padding: 1rem !important;
    pointer-events: all !important;
    margin: 0 0 0.7rem 0;
  }
  .desc-task{
    background-color: rgb(255, 255, 255);
    border: solid 1px #666;
    border-end-start-radius: .5rem;
    border-end-end-radius: .5rem;
    padding: 0;
    max-height: 0px;
    transform: translateY(-10px);
    transition: all .5s;
    overflow: hidden;
    pointer-events: none;
    width: 90%;
    z-index: 1;
  }

  .desc-task p{
    font-size: 1.3rem;
    font-family: 'Ubuntu';
    font-weight: 200;
  }
  .desc-task button{
    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: red;
    border: solid .12rem red;
    font-size: 1.2rem;
    font-family: 'Oswald';
    transition: all .3s;
    padding: .5rem 1rem;
    float: right;
  }
  .desc-task button:hover{
    color: white;
    background-color: red;
  }
  #list-item i{
    justify-self: flex-end;
    font-size: 1.5rem;
    float: right;
    cursor: pointer;
  }
  #list-item label {
    color: var(--text);
    position: relative;
    cursor: pointer;
    display: grid;
    font-size: 30px;
    font-family: 'ubuntu', Arial, Helvetica, sans-serif;
    font-weight: 200;
    align-items: center;
    width: fit-content;
    transition: color .3s ease; }
    #list-item label::before, #list-item label::after {
      content: "";
      position: absolute; }
    #list-item label::before {
      height: 3px;
      width: 8px;
      left: -27px;
      top: 55%;
      background: var(--check);
      border-radius: 2px;
      transition: background .3s ease; }
    #list-item label:after {
      height: 4px;
      width: 4px;
      left: -25px;
      border-radius: 50%; }
  #list-item input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    outline: none;
    padding: 10px;
    border: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
    background: var(--background);
    display: grid;
    align-items: center; }
    #list-item input[type="checkbox"]::before, #list-item input[type="checkbox"]::after {
      content: "";
      position: absolute;
      height: 2.5px;
      top: 60% !important;
      background: var(--check);
      border-radius: 2px; }
    #list-item input[type="checkbox"]::before {
      width: 0px;
      right: 60%;
      transform-origin: right bottom; }
    #list-item input[type="checkbox"]::after {
      width: 0px;
      left: 40%;
      transform-origin: left bottom; }
    #list-item input[type="checkbox"]:checked::before {
      animation: check-01 .4s ease forwards; }
    #list-item input[type="checkbox"]:checked::after {
      animation: check-02 .4s ease forwards; }
    #list-item input[type="checkbox"]:checked + label {
      color: var(--disabled);
      animation: move .3s ease .1s forwards; }
      #list-item input[type="checkbox"]:checked + label::before {
        background: var(--disabled);
        animation: slice .4s ease forwards; }
      #list-item input[type="checkbox"]:checked + label::after {
        animation: firework .5s ease forwards .1s; }

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px; }
  100% {
    padding-right: 4px; } }
@keyframes slice {
  60% {
    width: 100%;
    left: 4px; }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0; } }
@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0); }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0); }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg); }
  100% {
    width: 8px;
    top: 8px;
    transform: rotate(45deg); } }
@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0); }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0); }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg); }
  100% {
    width: 12px;
    top: 8px;
    transform: rotate(-45deg); } }
@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0; }
  30% {
    opacity: 1; }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0; } }
@keyframes showDesc{
  0%{
    height: 0;
  }
  100%{
    height: 270px;
  }
}