.content-login-card{

    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;

}

.form-login-card{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.field-login-card{
    outline: solid 0px var(--cor-secundaria);
    border: solid 1.5px rgba(0, 0, 0, .3);
    border-radius: 8px;
    height: 50px;
    margin: 1rem 0;
    transition: outline .1s ease-out;
    width: 380px;
}

.field-login-card:focus{
    border: solid 2px var(--cor-secundaria);
    outline: solid 3px var(--cor-terciaria);
}

.botao-login-card{
    align-self: center;
    background-color: var(--cor-principal);
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(65, 72, 86, 0.25);
    color: white;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    height: 50px;
    transition: all .2s;
    width: 380px;
}

.botao-login-card:hover{
    background-color: white;
    box-shadow: 0 5px 10px rgba(65, 72, 86, 0.5);
    color: var(--cor-principal);
}

/* .botao-login-card:active{
    box-shadow: inset 0 1px 10px rgba(65, 72, 86, 0.5);
} */

.link-login-card{
    color: var(--cor-principal);
}

