.container-registry-section{
    /* background: linear-gradient(90deg, #FFFF 0%,rgb(241, 241, 241) 100%); */
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    border-top: solid 1px rgba(0, 0, 0, 0.301);
    border-bottom: solid 1px rgba(0, 0, 0, 0.301);
    width: 100vw;
}

.section-register{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    height: 750px;
    width: var(--width-corpo);
}

.text-register-card{
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-weight: 00;
    text-align: center;
}

.register-card{
    background-color: #FFF;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}

.register-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    height: 500px;
    width: 600px;
}

input:-internal-autofill-selected {
    box-shadow: inset #fff 0 0 0 100px;
}
.box-input{
    position: relative;
}

.label-register-card{
    font-family: 'Ubuntu', var(--bs-body-font-family);
    font-size: 1.6rem;
    color: rgb(80, 80, 80);
    left: 0;
    top: 50%;
    transition: all .2s;
    transform: translateY(-50%);
    position: absolute;
}

.input-register-card{
    background-color: white !important;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    border: none;
    border-bottom: solid 2px black;
    font-size: 1.6rem;
    font-family: 'Ubuntu', var(--bs-body-font-family);
    outline: 0;
    height: 45px;
    width: 400px;
}

.input-register-card:focus, .input-register-card:valid{
    border-bottom: solid 2px var(--cor-principal);
}

.input-invalid{
    border-bottom: solid 2px red !important;
}

.label-invalid{
    color: red !important;
}

.register-button{
    background-color: var(--cor-principal);
    box-shadow: 0 5px 10px rgba(65, 72, 86, 0.25);
    color: white;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Ubuntu', var(--bs-body-font-family);
    transition: all .5s;
    border: none;
    height: 60px;
    width: 350px;
}

.register-button:hover{
    background-color: white;
    color: var(--cor-principal);
    box-shadow: 0 8px 20px rgba(65, 72, 86, 0.50);
}

.active-input{

    font-size: 1rem;
    top: 0;
    color: var(--cor-principal);

}
.input-register-card ~ span{
    position: absolute;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-style: italic;
    color: red;
    bottom: 0%;
    transform: translateY(100%);
    left: 0;
}
